/**
 * Colors.
 * 
 * @author Fred Stevens-Smith (@fredsters_s) while working on @RainforestQA
 */
$llgrey: #FCFCFC;
$lgrey: #f5f5f5;
$grey: #EEEEEE;
$ggrey: #E1E1E1;
$dgrey: #9E9E9E;
$black: #191919;
$blue: #0099DC;
$white: #ffffff;