/**
 * Post
 * 
 * @author Fred Stevens-Smith (@fredsters_s) while working on @RainforestQA
 */
.post {
  max-width: $line_width;
  p { @include margin-trailer(1); }
  .meta { color: tint($black, 40); }
  img { max-width: 100%; }
}