%section.goback
  %a{ href: "https://www.rainforestqa.com/" }
    &larr; Go back to Rainforest

%section.logo
  %a.blog-home{ href: "/" }
    .icon-holder
      %i.icon-leaf
    %span.text Rainforest Blog

%section.what
  %p
    Rainforest lets you create tests for your website in plain English, then run them across all major browsers with a single click.
  %a.find-out-more{ href: "https://www.rainforestqa.com" }
    Find out more!

%section.subscribe
  %form{action: "http://rainforestapp.us5.list-manage.com/subscribe/post?u=3f08cde7c2e7b3dd793fb795f&id=5c03c7c822", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
    %p.instruction Subscribe to our mailing list:
    %input#mce-EMAIL.required.email{name: "EMAIL", type: "email", value: "", placeholder: "Enter your email address"}
    %input#mc-embedded-subscribe.button{name: "subscribe", type: "submit", value: "Subscribe"}
